<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                2015.03 ~ 2018.01 인천전자마이스터고등학교 졸업<br>
                2017.08 ~ (주)포스콤 입사<br>
                2022.03 ~ 한양대학교 에리카캠퍼스 융합공학과 입학<br> 
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                전자기기기능사 보유<br>
                전자캐드기능사 보유<br>
                정보처리기능사 보유<br>
                전기기능사 보유<br>
            </p>
        </div>
    </div>
</section>